@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Fjalla+One&family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

@media screen and (min-width: 600px) {

    /*-------------------------------------- PETIT NAV OU AVANT MENU */

    .navbarpetit {
        display: grid;
        grid-template-columns: 12% 63% 25%;
        height: 40px;
        width: 100%;
        line-height: 40px;
        background-color: #fff;
    }

    .portail {
        height: 40px;
        width: 100%;
        font-size: 13px;
        background-color: #ddf2fb;
        padding-left: 35px;

    }

    .portail .farbe {
        color: #555
    }

    .portail:hover {
        background-color: #1cabe2;
    }

    .portail a {
        text-decoration: none;
    }

    .portail a:hover {
        color: #fff;
    }

    .droite ul {
        list-style: none;
    }

    .droite ul li {
        display: inline-block;
    }

    .droite ul li a {
        font-size: 12px;
        font-style: normal;
        font-family: 'Poppins', sans-serif;
    }

    .droite a {
        color: #555;
        text-decoration: none;
    }

    .droite a:hover {
        color: #35b5ff;
    }

    .droite small {
        color: gray;
        margin-left: 5px;
        margin-right: 5px;
    }

    /*-------------------------------------- NAV OU MENU PRINCIPAL */

    nav.nav-principal {
        height: 65px;
        width: 100%;
        top: 0;
        margin: 0px;
        background-color: #fff;
        border-top: 1px solid #2222;
        border-bottom: 1px solid #2222;
    }

    nav.nav-principal a .logo {
        height: 65px;
        width: 155px;
        margin-left: 10px;
        border-bottom: 1px solid #2222;
    }

    .custom-btn {
        display: none;
    }

    nav.nav-principal a {
        text-decoration: none;
        color: #555;
    }

    .custom-btn {
        display: none;
    }

    #area {
        width: 80%;
        height: 50px;
        display: none;
    }

    .bouton-area {
        width: 10%;
        height: 50px;
        display: none;

    }

    nav.nav-principal ul {
        list-style: none;
        float: right;

    }

    nav.nav-principal ul li {
        display: inline-block;
        margin: 0 20px;
        line-height: 65px;
    }

    nav.nav-principal ul li a {
        color: #555;
    }

    nav.nav-principal ul .ligne:hover {
        border-bottom: 4px solid #1cabe2;
    }

    nav.nav-principal ul li .brule:hover {
        color: #1cabe2;
    }

    nav.nav-principal ul li a .sucher:hover {
        color: #1cabe2;
    }

    nav.nav-principal ul li a.active {
        color: #1cabe2;
    }

    nav.nav-principal ul li.item-active {
        border-bottom: 4px solid #1cabe2;
    }

    nav ul li.donateur {
        height: 65px;
        background-color: #1cabe2;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: -30px;
    }

    nav ul li.donateur:hover {
        background-color: #098dc0;
    }

    nav ul li.donateur a {
        color: #fff;
    }

    nav ul li.don {
        height: 65px;
        background-color: #ff8d41;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: -5px;
    }

    nav ul li.don:hover {
        background-color: #ec7a2e;
    }

    nav ul li.don a {
        color: #fff;
    }




    /*------------------------------------------------ PAGE HOME */


    /*----------- CAROUSEL */

    .p-home .carousel-inner .carousel-item img {
        height: 100%;
        width: 100%;
    }



    /*------------- START */

    section .slogan-am h2 {
        padding: 100px 0 100px 0;
        font-size: 35px;
        font-family: 'Fjalla One';
        font-weight: 700;
        line-height: 1.5;
        text-align: center;
    }

    section .slogan-am h2 span {
        font-family: 'Fjalla One';
        color: #1cabe2;
    }

    section.p-home {
        margin-top: 110px;
    }

    section {
        margin: 0 20px 0 20px;
    }

    .custom-btn:hover {
        background-color: #098dc0;
        color: #fff;
    }




    /*--------- ACTUALITE */

    section .actualite1 a {
        text-decoration: none;
        font-size: 15px;
        text-transform: uppercase;
        padding: 15px 30px 15px 30px;
        background-color: #1cabe2;
        color: #fff;
    }

    section .actualite1 a:hover {
        background-color: #098dc0;
    }

    .p-actualite {
        background-color: #f7f9fa;
        height: 625px;
        width: 100%;
    }

    .dimension {
        height: 400px;
        width: 100%;
    }

    section h6 {
        background-color: #1cabe2;
        height: 30px;
        width: 110px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
    }



    /*------------NOS ACTIONS */

    .p-action {
        margin: 80px;
    }

    .p-action .row .col-md-3 .actioncolor {
        background-color: #1cabe2;
        height: 500px;
        width: 100%;
        margin-bottom: 25px;
        color: #fff;
    }

    .p-action .row .col-md-3 i {
        font-size: 25px;
        border: 1px solid #fff;
        padding: 15px;
        border-radius: 100%;
        margin: 30px 0 45px 30px;
    }

    .p-action .row .col-md-3 h5 {
        margin-left: 20px;
        margin-bottom: 35px;
    }

    .p-action .row .col-md-3 p {
        margin-left: 20px;
        font-size: 13px;

    }

    .p-action .row .col-md-3 a {
        text-decoration: none;
        font-size: 15px;
        text-transform: uppercase;
        padding: 15px 30px 15px 30px;
        background-color: #fff;
        color: #1cabe2;
        margin-top: 35px;
        margin-left: 20px;
    }

    .p-action .row .col-md-3 a:hover {
        background-color: #ddf2fb
    }




    /* -----------BENEVOLE */

    .p-benevole {
        background-color: #a48576;
        height: 625px;
        width: 100%;
    }



    /* -------------DONATION HOME */

    .p-donation {
        background-color: #eef3f6;
        height: 600px;
        width: 100%;
    }

    .p-donation h2 {
        /* margin-right: 50px; */
        padding: 25px 0 20px;
    }

    .p-donation .dona-don {
        color: #fff;
        background-color: #1cabe2;
        height: 410px;
        width: 100%;
        padding: 70px 50px 50px 50px;

    }

    .p-donation a {
        margin-top: 50px;
        text-decoration: none;
        font-size: 15px;
        text-transform: uppercase;
        padding: 15px 30px 15px 30px;
        background-color: #fff;
        color: #1cabe2;
        margin-top: 35px;
    }

    .p-donation a:hover {
        background-color: #fff;
    }


    /* -----------------------------------------ESPACE DONATEUR */









    /*----------------------------------------- ALL NEWS */

    section.p-all-news {
        margin-top: 95px;
    }

    .all-news {
        background-color: #f7f9fa;
    }

    section.p-all-news .row .col-4 h5 {
        margin-top: 10px;
        background-color: #1cabe2;
        color: #fff;
        height: 40px;
        width: 150px;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
    }



    /*-----------NEWSLETTER */

    .p-newsletter {
        background-color: #ddf2fb;
        height: 300px;
        width: 100%;
    }

    .p-newsletter .row {
        margin: 0 20px 0 20px;
        padding-top: 50px;

    }

    .p-newsletter section ul.r-social li {
        display: inline-block;
    }

    .p-newsletter section ul li i {
        margin-right: 15px;
        font-size: 16px;
        border: 1px solid #1cabe2;
        padding: 15px 17px 15px 17px;
        border-radius: 100%;
    }

    .p-newsletter section ul li i:hover {
        color: #ec7a2e;
        border: 1px solid #ff8d41;
    }

    .p-newsletter section p {
        font-size: 10px;
        color: #555;
    }



    /*----------------------------------------- PAGE CONTANCT */


    section h1.contact {
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    section div.container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
    }

    section div.container.container-narrow {
        max-width: 600px;
    }


    section div.sujet_espace {
        margin-bottom: 20px;
    }

    section div label.label_form {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    section div.container_select {
        position: relative;
    }

    section div.container_select::after {
        content: '\25BC';
        font-size: 12px;
        color: #555;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }

    section div form input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    section div form input[type="submit"] {
        background-color: #35b5ff;
        color: white;
        border: none;
        padding: 12px 250px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
    }

    section div form input[type="submit"]:hover {
        background-color: #35b5ff
    }



    /*--------------------------------------------------- FAQ */


    section h1.faq {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
    }

    section main div.faq-item {
        margin-bottom: 20px;
    }

    section main div.faq-item h2 {
        font-size: 18px;
        font-weight: bold;
    }

    section main div.faq-item dl {
        margin-top: 10px;
        padding-left: 20px;
    }

    section main div.faq-item dl dt {
        font-weight: bold;
        margin-top: 10px;
    }

    section main div.faq-item dl dd {
        margin-left: 20px;
        margin-top: 5px;
    }

    section main div ul {
        list-style-type: none;
        margin-left: 20px;
    }

    section main div ul li {
        margin-top: 5px;
    }




    /*------------------------------------------------- FOOTER */

    footer {
        padding-top: 50px;
    }

    footer .about-am img {
        height: 80px;
        width: 160px;
    }

    footer div ul {
        list-style-type: none;
        padding: 0;

    }

    footer .about-am i {
        font-size: 20px;
        color: #1cabe2;
        margin-right: 10px;


    }

    footer .about-am i.fa-phone {
        transform: rotate(110deg);

    }

    footer .soutenir-am i {
        font-size: 40px;
        color: #1cabe2;
        margin-right: 15px;
    }

    footer .soutenir-am i:hover {
        color: #098dc0;
    }

    footer .soutenir-am p {
        color: #555
    }

    footer .row ul li a {
        text-decoration: none;
        color: #555;
        font-weight: 100;
        line-height: 2;
    }

    footer .row ul li a:hover {
        color: #1cabe2;

    }

    footer .footband {
        background-color: rgb(78, 72, 72);
        font-size: 12px;
        text-align: center;
    }

    footer .footband ul {
        list-style: none;
    }

    footer .footband ul li {
        display: inline-block;
        margin-right: 30px;
        padding: 18px 0 18px 0;
    }

    footer .footband ul li a {
        text-decoration: none;
        color: #fff;
    }

    footer .footband ul li a:hover {
        color: #1cabe2;
    }

}




/* ------------------------STYLES FOR SMATPHONE -------------------------------------------------------------- */

@media screen and (max-width: 576px) {

    /*-------------------------------------- PETIT NAV OU AVANT MENU */

    .navbarpetit {
        display: flex;
        flex-direction: column;
        height: 40px;
        width: 100%;
        line-height: 40px;
        text-align: center;
        background-color: #ddf2fb;

    }

    .portail {
        background-color: #ddf2fb;
    }

    .portail .farbe {
        color: #555;
    }

    .portail:hover {
        background-color: #1cabe2;
    }

    .portail a {
        text-decoration: none;
    }

    .portail a:hover {
        color: #fff;
    }


    /*-------------------------------------- NAV OU MENU PRINCIPAL */

    nav.nav-principal {
        display: flex;
    }

    nav.nav-principal {
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        height: 65px;
        background-color: #fff;
        border-top: 1px solid #2222;
        border-bottom: 1px solid #2222;
        z-index: 999;
    }

    .logo {
        height: 65px;
        width: 100%;
    }

    .custom-btn {
        width: 40%;
        height: 100%;
        margin-left: 40%;
        background-color: #ec7a2e;
        color: #fff;
    }

    #popupForm {
        display: none;
    }

    nav.nav-principal a {
        text-decoration: none;
        color: #222;
    }

    nav.nav-principal ul {
        list-style: none;
    }

    nav.nav-principal ul li {
        line-height: 50px;
    }

    nav.nav-principal ul li a {
        color: #222;
    }

    nav.nav-principal ul .ligne:hover {
        border-bottom: 4px solid #1cabe2;
    }

    nav.nav-principal ul li .brule:hover {
        color: #1cabe2;
    }

    nav.nav-principal ul li a .sucher:hover {
        color: #1cabe2;
        display: none;
    }

    nav.nav-principal ul li a.active {
        color: #1cabe2;
    }

    nav.nav-principal ul li.item-active {
        border-bottom: 4px solid #1cabe2;
    }

    .item-active {
        display: none;
    }

    .ligne {
        display: none;
    }

    .area-bouton {
        position: fixed;
        top: 10%;
        left: 15%;
        width: 100%;
    }

    #area {
        width: 60%;
        height: 50px;
    }

    .bouton-area {
        width: 10%;
        height: 50px;
        background-color: #1cabe2;
    }

    nav ul li.donateur {
        position: fixed;
        top: 0;
        right: 0;
        text-align: center;
        background-color: #1cabe2;
        width: 100%;

    }

    nav ul li.donateur:hover {
        background-color: #098dc0;

    }

    nav ul li.donateur a {
        color: #fff;
    }

    nav ul li.don a {
        display: none;
    }

    /*------------------------------------------------ PAGE HOME */


    /*----------- CAROUSEL */

    .p-home .carousel-inner .carousel-item img {
        padding-top: 65px;
        height: 50%;
        width: 50%;
    }



    /*------------- START */

    section .slogan-am h2 {
        padding: 100px 0 100px 0;
        font-size: 35px;
        font-family: 'Fjalla One';
        font-weight: 700;
        line-height: 1.5;
        text-align: center;
    }

    section .slogan-am h2 span {
        font-family: 'Fjalla One';
        color: #1cabe2;
    }

    section.p-home {
        margin-top: 110px;
    }

    section {
        margin: 0 20px 0 20px;
    }

    .custom-btn:hover {
        background-color: #098dc0;
        color: #fff;
    }




    /*--------- ACTUALITE */

    section .actualite1 a {
        text-decoration: none;
        font-size: 15px;
        text-transform: uppercase;
        padding: 15px 30px 15px 30px;
        background-color: #1cabe2;
        color: #fff;
    }

    section .actualite1 a:hover {
        background-color: #098dc0;
    }

    .p-actualite {
        background-color: #f7f9fa;
        height: 625px;
        width: 100%;
    }

    .dimension {
        height: 400px;
        width: 100%;
    }

    section h6 {
        background-color: #1cabe2;
        height: 30px;
        width: 110px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
    }



    /*------------NOS ACTIONS */

    .p-action {
        margin: 80px;
    }

    .p-action .row .col-md-3 .actioncolor {
        background-color: #1cabe2;
        height: 500px;
        width: 100%;
        margin-bottom: 25px;
        color: #fff;
    }

    .p-action .row .col-md-3 i {
        font-size: 25px;
        border: 1px solid #fff;
        padding: 15px;
        border-radius: 100%;
        margin: 30px 0 45px 30px;
    }

    .p-action .row .col-md-3 h5 {
        margin-left: 20px;
        margin-bottom: 35px;
    }

    .p-action .row .col-md-3 p {
        margin-left: 20px;
        font-size: 13px;

    }

    .p-action .row .col-md-3 a {
        text-decoration: none;
        font-size: 15px;
        text-transform: uppercase;
        padding: 15px 30px 15px 30px;
        background-color: #fff;
        color: #1cabe2;
        margin-top: 35px;
        margin-left: 20px;
    }

    .p-action .row .col-md-3 a:hover {
        background-color: #ddf2fb
    }




    /* -----------BENEVOLE */

    .p-benevole {
        background-color: #a48576;
        height: 625px;
        width: 100%;
    }



    /* -------------DONATION HOME */

    .p-donation {
        background-color: #eef3f6;
        height: 600px;
        width: 100%;
    }

    .p-donation h2 {
        /* margin-right: 50px; */
        padding: 25px 0 20px;
    }

    .p-donation .dona-don {
        color: #fff;
        background-color: #1cabe2;
        height: 408px;
        width: 100%;
        padding: 70px 50px 50px 50px;

    }

    .p-donation a {
        margin-top: 50px;
        text-decoration: none;
        font-size: 15px;
        text-transform: uppercase;
        padding: 15px 30px 15px 30px;
        background-color: #fff;
        color: #1cabe2;
        margin-top: 35px;
    }

    .p-donation a:hover {
        background-color: #fff;
    }


    /* -----------------------------------------ESPACE DONATEUR */









    /*----------------------------------------- ALL NEWS */

    section.p-all-news {
        margin-top: 95px;
    }

    .all-news {
        background-color: #f7f9fa;
    }

    section.p-all-news .row .col-4 h5 {
        margin-top: 10px;
        background-color: #1cabe2;
        color: #fff;
        height: 40px;
        width: 150px;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
    }



    /*-----------NEWSLETTER */

    .p-newsletter {
        background-color: #ddf2fb;
        height: 300px;
        width: 100%;
    }

    .p-newsletter .row {
        margin: 0 20px 0 20px;
        padding-top: 50px;

    }

    .p-newsletter section ul.r-social li {
        display: inline-block;
    }

    .p-newsletter section ul li i {
        margin-right: 15px;
        font-size: 16px;
        border: 1px solid #1cabe2;
        padding: 15px 17px 15px 17px;
        border-radius: 100%;
    }

    .p-newsletter section ul li i:hover {
        color: #ec7a2e;
        border: 1px solid #ff8d41;
    }

    .p-newsletter section p {
        font-size: 12px;
        color: #555;
    }



    /*----------------------------------------- PAGE CONTANCT */


    section h1.contact {
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    section div.container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
    }

    section div.container.container-narrow {
        max-width: 600px;
    }


    section div.sujet_espace {
        margin-bottom: 20px;
    }

    section div label.label_form {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    section div.container_select {
        position: relative;
    }

    section div.container_select::after {
        content: '\25BC';
        font-size: 12px;
        color: #555;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }

    section div form input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    section div form input[type="submit"] {
        background-color: #35b5ff;
        color: white;
        border: none;
        padding: 12px 250px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
    }

    section div form input[type="submit"]:hover {
        background-color: #35b5ff
    }



    /*--------------------------------------------------- FAQ */


    section h1.faq {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
    }

    section main div.faq-item {
        margin-bottom: 20px;
    }

    section main div.faq-item h2 {
        font-size: 18px;
        font-weight: bold;
    }

    section main div.faq-item dl {
        margin-top: 10px;
        padding-left: 20px;
    }

    section main div.faq-item dl dt {
        font-weight: bold;
        margin-top: 10px;
    }

    section main div.faq-item dl dd {
        margin-left: 20px;
        margin-top: 5px;
    }

    section main div ul {
        list-style-type: none;
        margin-left: 20px;
    }

    section main div ul li {
        margin-top: 5px;
    }




    /*------------------------------------------------- FOOTER */

    footer {
        padding-top: 50px;
    }

    footer .about-am img {
        height: 80px;
        width: 160px;
    }

    footer div ul {
        list-style-type: none;
        padding: 0;

    }

    footer .about-am i {
        font-size: 20px;
        color: #1cabe2;
        margin-right: 10px;


    }

    footer .about-am i.fa-phone {
        transform: rotate(110deg);

    }

    footer .soutenir-am i {
        font-size: 40px;
        color: #1cabe2;
        margin-right: 15px;
    }

    footer .soutenir-am i:hover {
        color: #098dc0;
    }

    footer .soutenir-am p {
        color: #555
    }

    footer .row ul li a {
        text-decoration: none;
        color: #555;
        font-weight: 100;
        line-height: 2;
    }

    footer .row ul li a:hover {
        color: #1cabe2;

    }

    footer .footband {
        background-color: rgb(78, 72, 72);
        font-size: 12px;
        text-align: center;
    }

    footer .footband ul {
        list-style: none;
    }

    footer .footband ul li {
        display: inline-block;
        margin-right: 30px;
        padding: 18px 0 18px 0;
    }

    footer .footband ul li a {
        text-decoration: none;
        color: #fff;
    }

    footer .footband ul li a:hover {
        color: #1cabe2;
    }
}